elpa
snippets
init.elc
autosaves
auto-save-list
projectile-bookmarks.eld
/irony/bin/irony-server
irony
/ac-comphist.dat
/projectile.cache
/init.org.backup
/bookmarks
/.mc-lists.el
/anaconda-mode/0.1.2/anaconda_mode-0.1.2-py3.5.egg
/anaconda
/anaconda
/init.el
