emms/
elpa
snippets
init.elc
autosaves
auto-save-list
projectile-bookmarks.eld
/irony/bin/irony-server
irony
/ac-comphist.dat
/projectile.cache
/init.org.backup
/bookmarks
/.mc-lists.el
/init.el
anaconda-mode
/recentf
/eshell/history
.sx/
private.el
url/
url/init.el
/smex-items
init.el
/eshell/lastdir
/.org-id-locations
/project-to-org-filepath
.python-environments
.tutor
ibus-el
lisp
project-explorer-cache
pyim
request
semanticdb
tramp
tutorial
flycheck_init.el
/srecode-map.el
magithub/
.cask/